<!DOCTYPE HTML>
<html lang = "en">

<head>

    {% if title %}
        <title>{{ title }}&nbsp;&vert;&nbsp;Bebo.com</title> <!-- -->
    {% else %}
        <title>Messyng Band &lt;xXx&lowbar;M355YNG&lowbar;xXx&gt;&nbsp;&vert;&nbsp;Bebo.com</title>
    {% endif %}

    <!-- Primary Meta Tags -->
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0"> <!-- I think this has been depreciated, so might remove -->
    <meta name = "author" content = "DJ Daddy Heely Rave, SpiderJJ and IBAN">
    <meta name = "title" content = "Messyng Band &lt;xXx_M355YNG_xXx&gt; | Bebo.com"> <!-- I believe this title differs in that it will show on Google -->
    <meta name = "description" content = "Official website for north kerry comedy politico pop band Messyng">
    <meta name = "keywords" content = "messyng, dollar, pickle, north, kerry, iban, spiderjj, daddy, heely, rave">

    <!-- Facebook -->
    <meta property = "og:type" content = "website">
    <meta property = "og:url" content = "https://metatags.io/">
    <meta property = "og:title" content = "Meta Tags — Preview, Edit and Generate">
    <meta property = "og:description" content = "With Meta Tags you can edit and experiment with your content then preview how your webpage will look on Google, Facebook, Twitter and more!">
    <meta property = "og:image" content = "https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">

    <!-- Twitter -->
    <meta property = "twitter:card" content = "summary_large_image">
    <meta property = "twitter:url" content = "https://metatags.io/">
    <meta property = "twitter:title" content = "Meta Tags — Preview, Edit and Generate">
    <meta property = "twitter:description" content = "With Meta Tags you can edit and experiment with your content then preview how your webpage will look on Google, Facebook, Twitter and more!">
    <meta property = "twitter:image" content = "https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">

    <!-- Styles & CSS -->
    <link rel = "stylesheet" href = "{{ url_for('static', filename='styles.css') }}">
    <link rel = "shortcut icon" href = "{{ url_for('static', filename='media/logos_pfps/favicon.ico') }}" type = "image/x-icon">

    <link rel = "preload" as = "image" fetchpriority = "high" href = "{{ url_for('static', filename='media/defaults/bebo-default-profile-pic.gif') }}">



    <!-- ========== JS Calls ========== -->
    <!-- General Script file -->
    <script src = "{{ url_for('static', filename='scripts/scripts.js') }}" type = "text/javascript"></script>

    <!-- Script file for displaying number of unopened emails in the Mail(n) nav item -->
    <script src = "{{ url_for('static', filename='scripts/email.js') }}" type = "text/javascript"></script>

    <!--  -->
    <script src = "{{ url_for('static', filename='scripts/poll.js') }}" type = "text/javascript"></script>

    <!--  -->
    <script src = "{{ url_for('static', filename='scripts/slideshow.js') }}" type = "text/javascript"></script>

    <!--  -->
    <script src = "{{ url_for('static', filename='scripts/toggle.js') }}" type = "text/javascript"></script>

    <!-- Script file for Maryo knock off -->
    <script src = "{{ url_for('static', filename='games/maryo.js') }}" type = "text/javascript"></script>

    <!-- Script file for solitaire game -->
    <script src = "{{ url_for('static', filename='games/cardgamecore.js') }}" type = "text/javascript"></script> <!-- Core logic of the solitaire game -->
    <script src = "{{ url_for('static', filename='games/solitaire.js') }}" type = "text/javascript"></script> <!-- Playing mechanics -->

    <!-- External script for the 3D model viewer -->
    <script src = "https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js" type = "module"></script>

</head>

<body>

    <header>

        <a href = "{{ url_for('index') }}">
            <img id = "header-logo" src = "{{ url_for('static', filename='media/logos_pfps/messyng_bebo_logo.png') }}">
        </a>
        
        <nav>
            <ul>

                <li>
                    <a href = "{{ url_for('index') }}">
                        Home
                    </a>
                </li>
                
                <li>
                    <a href = "{{ url_for('profile') }}">
                        Profile
                    </a>
                </li>
                
                <li>
                    <a href = "{{ url_for('friends') }}">
                        Friends
                    </a>
                </li>

                <li>
                    <a href = "{{ url_for('contact') }}">
                        <!-- can we get the number in the brackets to show the actual number of unanswered emails we have? -->
                        Mail &lpar;<span id = "mail">46</span>&rpar;
                    </a>
                </li>

                <li class = "dropdown">
                    <div class = "dropbtn">Explore</div>
                    <div class = "dropdown-content">
                        <a href = "{{ url_for('about') }}">About</a>
                        <a href = "{{ url_for('contact') }}">Contact</a>
                        <a href = "{{ url_for('discography') }}">Discography</a>
                    </div>
                </li>

                <li>
                    <a href = "{{ url_for('settings') }}">
                        settings
                    </a>
                </li>

                <li>
                    <a href = "{{ url_for('help') }}">
                        help
                    </a>
                </li>

                <li>
                    <!-- 
                        {% if g.loggedIn %}
                            <a href = "{{ url_for('logout') }}">
                                logout
                            </a>
                        {% else %}
                            <a href = "{{ url_for('login') }}">
                                login
                            </a>
                        {% endif %}
                     -->
                    <a href = "{{ url_for('login') }}">
                        login
                    </a>
                </li>
                
                <li>
                    <input type = "search" placeholder = "Search.." name = "search">
                    <button type = "submit" value = "search">
                        &#128269;
                    </button>
                </li>

            </ul>
        </nav>

    </header>



    <main>

        {% block main_content %}










        {% endblock %}

    </main>

    <footer>
        <div id = "footer-container">

            <nav>
                <ul>
                    <li>
                        <a href = "https://www.facebook.com/messyngband" target = "_blank">
                            Facebook
                        </a>
                    </li>

                    <li>
                        <a href = "https://www.instagram.com/messyngband/" target = "_blank">
                            Instagram
                        </a>
                    </li>

                    <li>
                        <a href = "https://twitter.com/messyngband" target = "_blank">
                            Twitter
                        </a>
                    </li>

                    <li>
                        <a href = "https://open.spotify.com/artist/0rtxB0QXua9uhaW5cHSlVS?si=Fz_IR1J-RBWJzZDpnaAffQ" target = "_blank">
                            Spotify
                        </a>
                    </li>
                </ul>
            </nav>

            <div>

                <h6>
                    Messyng FC are represented by:
                </h6>

                <ul>
                    <li>
                        <a href = "https://www.facebook.com/dollarpickle" target = "_blank">
                            Dollar Pickle Records &lpar;North Kerry only&rpar;
                        </a>
                    </li>

                    <li>
                        <a href = "https://www.facebook.com/scauldwaverecords" target = "_blank">
                            Scauldwave Records &lpar;Rest of world&rpar;
                        </a>
                    </li>
                </ul>

            </div>

            <form>

                <h6>
                    Join our newsletter!
                </h6>
                <span>
                    I.E. let us send you memes whenever we remember that we have a newsletter
                </span>
                <input type = "email" placeholder = "Search.." name = "search">
                <button type = "submit" value = "email">
                    Giz ur email
                </button>

            </form>
            
            <small>
                Messyng take their adherence to GDPR very seriously. Please find our privacy policy at the following link <a href = "https://www.thesun.co.uk/sport/football/9276251/algeria-send-home-haris-belkebla-bum-fortnite-afcon/" target = "_blank">Messyng GDPR Policy</a>. This does not affect your statutory rights.<br>
                &vert; Messyng global inc trading as Messyng is regulated by the Central Bank of Ireland &vert; Vat number # 80085 &vert;<br>
                &vert; Patent pending &vert; Charity # 0872222cool4u &vert; references available upon request &vert;<br>
                ALL HAIL MR BIN BIN<br>

                {% if g.year %}
                    &copy; {{ g.year }} Messyng FC. All rights reserved.
                {% else %}
                    &copy; 2024 Messyng FC. All rights reserved.
                {% endif %}
            </small>

        </div>
    </footer>

</body>

</html>