<!DOCTYPE HTML>

<html>

<head>


    <title>Messyng Band &lt;xXx_M355YNG_xXx&gt; &verbar; Bebo.com</title>


    <!-- Primary Meta Tags -->
    <meta charset="UTF-8">
    <meta name="author" content="DJ Daddy Heely Rave, SpiderJJ and IBAN">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Messyng Band &lt;xXx_M355YNG_xXx&gt; | Bebo.com">
    <meta name="description" content="Official website for north kerry comedy politico pop band Messyng">
    <meta name="keywords" content="messyng, dollar, pickle, north, kerry, iban, spiderjj, daddy, heely, rave">


    <!-- Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://metatags.io/">
    <meta property="og:title" content="Meta Tags — Preview, Edit and Generate">
    <meta property="og:description" content="With Meta Tags you can edit and experiment with your content then preview how your webpage will look on Google, Facebook, Twitter and more!">
    <meta property="og:image" content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">


    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://metatags.io/">
    <meta property="twitter:title" content="Meta Tags — Preview, Edit and Generate">
    <meta property="twitter:description" content="With Meta Tags you can edit and experiment with your content then preview how your webpage will look on Google, Facebook, Twitter and more!">
    <meta property="twitter:image" content="https://metatags.io/assets/meta-tags-16a33a6a8531e519cc0936fbba0ad904e52d35f34a46c97a2c9f6f7dd7d336f2.png">


    <link rel="stylesheet" href="styles.css">
    <link rel="shortcut icon" href="media/logos_pfps/favicon.ico" type="image/x-icon">


    <script src="scripts/scripts.js"></script>
    <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
    <script src="games/cardgamecore.js" type="text/javascript"></script>
    <script src="games/solitaire.js" type="text/javascript"></script>
    <script src="script_counter.js" type="text/javascript"></script>


</head>

<body>
    <header>
        <a href="index.html"><img class="logo" src="media/logos_pfps/messyng_bebo_logo.png"></a>
        <div>
            <nav>
                <ul class="headernav">
                    <a href="index.html">
                        <li class="headeroptions">Home</li>
                    </a>
                    <a href="index.html">
                        <li class="headeroptions">Profile</li>
                    </a>
                    <a href="index.html">
                        <li class="headeroptions">Friends</li>
                    </a>
                    <a href="index.html">
                        <li class="headeroptions" id="mail">
                            <script src="scripts.js"></script>
                            
                            
                            Mail &lpar;46&rpar;</li>
                    </a>
                    <!-- can we get the number in the brackets to show the actual number of unanswered emails we have? -->
                    <li>
                        <div class="dropdown">
                            <div class="dropbtn">Explore</div>
                            <div class="dropdown-content">
                                <a href="index.html">About</a>
                                <a href="index.html">Contact</a>
                                <a href="index.html">Discography</a>
                            </div>
                        </div>
                    </li>
                    <a href="index.html">
                        <li class="headeroptions">settings</li>
                    </a>
                    <a href="index.html">
                        <li class="headeroptions">help</li>
                    </a>
                    <a href="index.html">
                        <li class="headeroptions">login</li>
                    </a>
                    <li>
                        <input type="search" style="margin:auto; max-width:300px" placeholder="Search.." name="search">
                        </input>
                        <button type="submit" value="search">
                            &#128269;
                        </button>
                    </li>
                </ul>

            </nav>
        </div>
    </header>

    <main>
        <figure>

        </figure>


        <noscript>Your browser does not support JavaScript and you therefore will miss a large amount of the craic on
            this page.</noscript>

        <figure></figure>
        <!-- <script src="advert.js"></script> -->
        <a href="____" target="_blank">
            <img id="advert" src="media\ads\advert1.png">
        </a>
        <figcaption>advertisement</figcaption>
        </figure>


    </main>


    <footer>
        <nav class="footernav">
            <a class="footeroptions" href="https://www.facebook.com/messyngband" target="_blank">Facebook</a> | 
            <a class="footeroptions" href="https://www.instagram.com/messyngband/" target="_blank">Instagram</a> |
            <a class="footeroptions" href="https://twitter.com/messyngband" target="_blank">Twitter</a> | 
            <a class="footeroptions"
                href="https://open.spotify.com/artist/0rtxB0QXua9uhaW5cHSlVS?si=Fz_IR1J-RBWJzZDpnaAffQ"
                target="_blank">Spotify</a>
        </nav>
        <br>
        Messyng are represented by:
        <br>
        <a class="footeroptions" href="https://www.facebook.com/dollarpickle" target="_blank">Dollar Pickle Records
            &lpar;North Kerry only&rpar;</a> |
        <a class="footeroptions" href="https://www.facebook.com/scauldwaverecords" target="_blank">Scauldwave Records
            &lpar;Rest of world&rpar;</a>
        <br>
        <br>
        Join our newsletter!
        <br>
        <small>
            I.E. let us send you memes whenever we remember that we have a newsletter
        </small>
        <br>
        <input type="email" placeholder="Search.." name="search"></input>
        <button type="submit" value="email">Giz ur email</button>
        <br>
        <br>
        <small>
            Messyng take their adherence to GDPR very seriously. Please find our privacy policy at the following link <a
                href="https://www.thesun.co.uk/sport/football/9276251/algeria-send-home-haris-belkebla-bum-fortnite-afcon/"
                target="_blank">Messyng GDPR Policy</a>. This does not affect your statutory rights.
            <br>
            | Messyng global inc trading as Messyng is regulated by the Central Bank of Ireland | Vat number # 80085 |
            <br>
            | Patent pending | Charity # 0872222cool4u | references available upon request |
            <br>
            ALL HAIL MR BIN BIN
        </small>
    </footer>

</body>

</html>